<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Inscrivez-vous</span></div>
        <form method="post" action="/register" th:object="${registerRequest}">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" name="login" required>
            </div>
            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="E-mail" name="email" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Mot de passe" name="password" required>
            </div>
            <div class="row button">
                <input type="submit" value="S'inscrire">
            </div>
            <div class="signup-link">Déjà membre? <a href="/login">Connectez-vous</a></div>
        </form>
    </div>
</div>

</body>
</html>